@font-face {
    font-family: 'maple-reg';
    src: url(../fonts/Maplestory-bold.ttf) format('truetype');
}

@font-face {
    font-family: 'tahoma-reg';
    src: url(../fonts/Tahoma_Regularfont.ttf) format('truetype');
}

@font-face {
    font-family: 'tahoma-bold';
    src: url(../fonts/tahomabd.ttf) format('truetype');
}