.footer {
    padding: 12px 0;
    background: rgb(6, 33, 50);
    background: linear-gradient(180deg, rgba(6, 33, 50, 1) 0%, rgba(7, 75, 102, 1) 100%);
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.62);

    p {
        font-family: 'tahoma-bold';
        font-size: 15px;
        color: #fff;
        padding: 0 20px;

        @media(max-width:1399px) {
            font-size: 12px;
        }
    }

    .total-p {
        background: #ff5e00;
        padding: 10px 15px;
        border-radius: 10px;

        span {
            font-family: 'tahoma-bold';

            color: #fff;
            display: inline-block;
            margin: 0 5px;
        }
    }
}