.header {
    background: rgb(6, 33, 50);
    background: linear-gradient(180deg, rgba(6, 33, 50, 1) 0%, rgba(7, 75, 102, 1) 100%);
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.62);

    .navbar {
        .nav-link {
            font-family: 'tahoma-bold';
            color: #ffffff;
            font-size: 17px;

            @media(max-width:1399px) {
                font-size: 11px;
            }

            &.active {
                color: #fe7e00;
            }

            &:hover {
                color: #fe7e00;
            }
        }

        .v {
            // background: #fff;
            color: #ffffff;
            // width: px;
        }
    }
}