/*=== abstracts css start === */
@font-face {
  font-family: "tahoma-reg";
  src: url(../fonts/Tahoma_Regularfont.ttf);
}
@font-face {
  font-family: "tahoma-bold";
  src: url(../fonts/tahomabd.ttf);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "tahoma-bold";
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
}
/*===// end of base css === */
/*=== layouts css start === */
.header {
  background: rgb(6, 33, 50);
  background: linear-gradient(180deg, rgb(6, 33, 50) 0%, rgb(7, 75, 102) 100%);
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.62);
}
.header .navbar .nav-link {
  font-family: "tahoma-bold";
  color: #ffffff;
  font-size: 18px;
  padding-top: 3px;
}
@media (max-width: 1399px) {
  .header .navbar .nav-link {
    font-size: 11px;
  }
}
.header .navbar .nav-link.active {
  color: #fe7e00;
}
.header .navbar .nav-link:hover {
  color: #fe7e00;
}
.header .navbar .vr {
  background: #fff;
  color: #ffffff;
  width: 3px;
}

.footer {
  padding: 12px 0;
  background: rgb(6, 33, 50);
  background: linear-gradient(180deg, rgb(6, 33, 50) 0%, rgb(7, 75, 102) 100%);
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.62);
}
.footer p {
  font-family: "tahoma-bold";
  font-size: 15px;
  color: #fff;
  padding: 0 20px;
}
@media (max-width: 1399px) {
  .footer p {
    font-size: 12px;
  }
}
.footer .total-p {
  background: #ff5e00;
  padding: 10px 15px;
  border-radius: 10px;
}
.footer .total-p span {
  font-family: "tahoma-bold";
  color: #fff;
  display: inline-block;
  margin: 0 5px;
}

/*===// end of layouts css === */
/*=== components css start === */
.banner {
  padding: 100px 0;
  background: url(../images/bg-u.png) no-repeat center center/cover;
}
.banner .container {
  max-width: 1240px;
}
.banner .container .g-link {
  opacity: 0.7;
  transition: all 0.2s;
}
.banner .container .g-link:hover {
  opacity: 1;
}
@media (max-width: 1399px) {
  .banner {
    padding: 50px 0;
  }
  .banner .container {
    max-width: 1040px;
  }
}

.banner-main {
  padding-top: 80px;
  background: url(../images/bg-u.png) no-repeat center center/cover;
}
.banner-main .container {
  max-width: 1545px;
}
@media (min-width: 1200px) {
  .banner-main .container {
    padding-inline: 50px;
  }
}
@media (min-width: 1600px) {
  .banner-main .container {
    padding-inline: 20px;
  }
}
.banner-main .wrapper {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1882352941);
}
.banner-main .wrapper .p-top {
  padding: 20px;
  margin-top: -80px;
}
.banner-main .wrapper .p-top .dialouge {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3294117647);
  padding: 10px 5px;
  margin-bottom: 5px;
  position: relative;
  z-index: 8;
}
.banner-main .wrapper .p-top .dialouge::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3294117647);
  left: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 1;
}
.banner-main .wrapper .p-top .dialouge::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: #ffffff;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.banner-main .wrapper .p-top .dialouge .welcome {
  font-size: 15px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 999;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .p-top .dialouge .welcome {
    font-size: 12px;
  }
}
.banner-main .wrapper .p-top .dialouge .welcome span {
  font-size: 15px;
  color: #609210;
  text-decoration: underline;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .p-top .dialouge .welcome span {
    font-size: 12px;
  }
}
.banner-main .wrapper .p-top .dialouge ul {
  position: relative;
  z-index: 999;
}
.banner-main .wrapper .p-top .dialouge ul li {
  padding: 0;
}
.banner-main .wrapper .p-top .dialouge span {
  position: relative;
  z-index: 999;
  font-size: 13px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .p-top .dialouge span {
    font-size: 11px;
  }
}
.banner-main .wrapper .p-top .dialouge a {
  position: relative;
  z-index: 999;
  color: #004d9b;
  font-size: 11px;
  margin: 0 3px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .p-top .dialouge a {
    font-size: 10px;
  }
}
.banner-main .wrapper .p-top p {
  font-size: 12px;
  line-height: 1;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .p-top p {
    font-size: 10px;
  }
}
.banner-main .wrapper .p-top p span {
  color: #face00;
}
.banner-main .wrapper .game-news .heading1 {
  padding: 10px 0;
  font-size: 25px;
  background: rgb(6, 33, 50);
  background: linear-gradient(180deg, rgb(6, 33, 50) 0%, rgb(7, 75, 102) 100%);
  color: #ffffff;
  text-align: center;
  position: relative;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .game-news .heading1 {
    font-size: 20px;
  }
}
.banner-main .wrapper .game-news .heading1::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 100%;
  background: rgb(6, 33, 50);
  background: linear-gradient(180deg, rgb(6, 33, 50) 0%, rgb(7, 75, 102) 100%);
  top: 0;
  right: 100%;
  z-index: 1;
}
.banner-main .wrapper .game-news .heading1::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: rgb(6, 33, 50);
  left: -23px;
  bottom: -12px;
  transform: rotate(30deg);
  z-index: -3;
}
.banner-main .wrapper .game-news td {
  padding: 12px 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .game-news td {
    font-size: 13px;
    padding: 10px 15px;
  }
}
.banner-main .wrapper .game-news td .small {
  font-size: 13px;
  margin-left: 3px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .game-news td .small {
    font-size: 10px;
  }
}
.banner-main .wrapper .game-news .color {
  margin-right: 3px;
}
.banner-main .wrapper .game-news .color.g {
  color: #66d118;
}
.banner-main .wrapper .game-news .color.dr {
  color: #d11818;
}
.banner-main .wrapper .game-news .color.ly {
  color: #e7db18;
}
.banner-main .wrapper .game-news .color.pink {
  color: #e213b9;
}
.banner-main .wrapper .server-news {
  text-align: center;
}
.banner-main .wrapper .server-news .heading1 {
  padding: 10px 0;
  font-size: 25px;
  background: #ff8200;
  background: linear-gradient(180deg, #ff5e00 0%, #ff8200 100%);
  color: #ffffff;
  text-align: center;
  position: relative;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .server-news .heading1 {
    font-size: 20px;
  }
}
.banner-main .wrapper .server-news .heading1::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 100%;
  background: #ff8200;
  background: linear-gradient(180deg, #ff5e00 0%, #ff8200 100%);
  top: 0;
  right: 100%;
  z-index: 1;
}
.banner-main .wrapper .server-news .heading1::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: #ff8200;
  left: -23px;
  bottom: -12px;
  transform: rotate(30deg);
  z-index: -3;
}
.banner-main .wrapper .server-news td {
  padding: 12px 20px;
  font-size: 15px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .server-news td {
    font-size: 13px;
    padding: 10px 15px;
  }
}
.banner-main .wrapper .server-news td span {
  color: #67c21d;
}
.banner-main .wrapper .r-top {
  display: grid;
  grid-template-columns: 7fr 1fr;
  padding: 20px 20px 20px 0px;
}
@media (max-width: 1199px) {
  .banner-main .wrapper .r-top {
    padding: 10px;
  }
}
.banner-main .wrapper .r-top .text {
  position: relative;
  border-radius: 20px;
  background: #f1f1f1;
  margin-right: 40px;
  padding: 20px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 2px 0px 0px #4475b8;
}
.banner-main .wrapper .r-top .text::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: #f1f1f1;
  box-shadow: 0px 3px 0px 2px #4475b8;
  right: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 1;
}
.banner-main .wrapper .r-top .text::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  right: -1px;
  top: 50%;
  transform: translateY(-45%);
  z-index: 3;
}
.banner-main .wrapper .r-top .text h3 {
  position: relative;
  padding-bottom: 15px;
  z-index: 999;
  font-size: 18px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .r-top .text h3 {
    font-size: 16px;
  }
}
.banner-main .wrapper .r-top .text p {
  position: relative;
  z-index: 999;
  font-size: 14px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .r-top .text p {
    font-size: 11px;
  }
}
@media (min-width: 1200px) {
  .banner-main .wrapper .charter {
    padding-right: 20px;
  }
}
.banner-main .wrapper .charter .rating h1 {
  color: #ff7d03;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ff7d03;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .charter .rating h1 {
    font-size: 14px;
  }
}
.banner-main .wrapper .charter .rating h1 a {
  font-size: 10px;
  color: #000;
}
.banner-main .wrapper .charter .rating .conts {
  background: #e3e3e3;
}
.banner-main .wrapper .charter .rating .trap {
  padding: 10px 0;
  border-bottom: 1px solid #000;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .charter .rating .trap {
    padding: 10px 0px;
  }
}
.banner-main .wrapper .charter .rating .trap .number {
  display: inline-block;
  background: #fff;
  color: #ff7d03;
  padding: 5px;
  border-radius: 5px;
}
.banner-main .wrapper .charter .rating .trap p {
  font-size: 14px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .charter .rating .trap p {
    font-size: 12px;
  }
}
.banner-main .wrapper .charter .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 15px 0 10px 20px;
}
.banner-main .wrapper .charter .list img {
  margin-right: 10px;
}
.banner-main .wrapper .charter .list span {
  font-size: 14px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .charter .list span {
    font-size: 12px;
  }
}
.banner-main .wrapper .charter .list a {
  font-size: 10px;
  color: #1350be;
}
.banner-main .wrapper .bottom .heading {
  color: #ff7d03;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ff7d03;
  margin-bottom: 15px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .bottom .heading {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.banner-main .wrapper .bottom .heading a {
  font-size: 10px;
  color: #000;
}
.banner-main .wrapper .bottom .gm-blog .list {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .bottom .gm-blog .list {
    padding: 5px;
  }
}
.banner-main .wrapper .bottom .gm-blog .list img {
  margin-right: 10px;
}
.banner-main .wrapper .bottom .gm-blog .list p {
  font-size: 14px;
}
@media (max-width: 1399px) {
  .banner-main .wrapper .bottom .gm-blog .list p {
    font-size: 12px;
  }
}
@media (min-width: 1300px) {
  .banner-main .wrapper .bottom .imhs {
    position: absolute;
    right: -40px;
    bottom: 0;
  }
}

@media (max-width: 1199px) {
  .pic {
    align-items: end;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: #d9d9d9;
  color: var(--bs-table-striped-color);
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */